<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:name=".CinxApp"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cinx">
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        
        <activity
            android:name=".activity.DiscoveryActivity"
            android:exported="false" />

        <activity
            android:name=".activity.MyLearningActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.LearningScheduleActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.CourseDetailActivity"
            android:exported="false" />

        <activity
            android:name=".activity.LessonActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity.CartActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity.CheckoutActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity.PaymentSuccessActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="edu-future" android:host="payment-success" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CertificatesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.VouchersActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity.PaymentMethodsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity.PurchaseHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.OrderDetailActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".activity.VerifyOtpActivity" android:exported="false"/>

        <activity android:name=".activity.CourseListActivity" android:exported="false" android:screenOrientation="portrait" />

        <activity android:name=".activity.InstructorDashboardActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".activity.AdminDashboardActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".activity.ManageInstructorsActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".activity.ManageUsersActivity" android:exported="false" android:screenOrientation="portrait" />

    <activity android:name=".activity.CourseOutlineActivity" android:exported="false" android:screenOrientation="portrait" />
    <activity android:name=".activity.LessonEditorActivity" android:exported="false" android:screenOrientation="portrait" />
    <activity android:name=".activity.CourseEditActivity" android:exported="false" android:screenOrientation="portrait" />
    
    <!-- Learning Path -->
    <activity android:name=".activity.LearningPathManagementActivity" android:exported="false" android:screenOrientation="portrait" />
    <activity android:name=".activity.LearningPathDetailActivity" android:exported="false" android:screenOrientation="portrait" />
    <activity android:name=".activity.GenerateLearningPathActivity" android:exported="false" android:screenOrientation="portrait" />

    <activity android:name=".activity.CertificateRequestsActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".activity.WishlistActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".activity.NotificationActivity" android:exported="false" android:screenOrientation="portrait" />
        <service android:name=".api.MyFirebaseMessagingService" android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>


